<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://www.google.com/s2/favicons?domain=https://github.com/zeinaCodes/test.git" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Quote Generator</title>
</head>
<body>

    <!-- loader -->
        <!-- <div class="loader" id="loader"></div> -->
        <!-- Quote -->
        <div class="quote-container" id="quote-container">
        <div class="quote-text">
            <i class="fas fa-quote-left"></i>
            <!-- Checking if quote is not null -->
            <% if(data.quoteText){ %> 
            <span id="quote" class=<%= Object.keys(data.quoteText).length > 120 ? "long-quote" : "" %> ><%= data.quoteText %></span>
            <% } else{ %>
            <!-- else if null -->
            <span id="quote">no quote</span> 
            <% } %>   
        </div>
        <!-- Author -->
        <div class="quote-author">
            <span id="author"><%= data.quoteAuthor ?? "unknown" %></span>
        </div>
        <!-- Buttons -->
        <div class="button-container">
            <form action="/tweet" method="POST" target="_blank">
            <button class="twitter-button" id="twitter" title="Tweet This!">
                <i class="fab fa-twitter"></i>
            </button>
        </form>
            <form action="/" method="POST">
            <button id="new-quote">New Quote</button>
        </form>
        </div>
    </div>
    
    
    
    <script src="script.js"></script>
</body>
</html>